<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="google-chrome">
  <title>Apptruistic</title>
  <html class="not-ie" lang="en">

  <head>
    <meta charset="utf-8">
    <title>Apptruistic Web Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Favicon -->
    <link href="/static/images/favicon.ico" rel="icon" type="image/png">


    <!-- Styles -->

    <link href="/static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">


    <!-- Font Avesome Styles -->
    <link href="/static/css/font-awesome/font-awesome.css" rel="stylesheet"
      th:href="@{css/font-awesome/font-awesome.css}">


    <!-- FlexSlider Style -->
    <link rel="stylesheet" href="/static/css/flexslider.css" th:href="@{/css/flexslider.css}" type="text/css"
      media="screen">



    <!-- Content -->
  </head>

<body>
  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row t-container">
        <!-- Logo -->

        <div class="span3">
          <div class="logo">
            <a href="index.html" th:href="@{index}"><img src="/static/images/logoheader.png" alt="logoheader.png"
                th:src="@{/images/logoheader.png}" /></a>
          </div>
        </div>


  <form id="buttonheader3"  th:method="post" th:action="@{/logout}">
    <button   type="submit" class="btn btn-outline-primary" >Log out</button>
  </form>



        <div class="span"> 
         </div>

        <div class="span9">
          <div class="row space10"></div>
          <nav id="nav" role="navigation">
            <a href="#nav" title="Show navigation">Show navigation</a>
            <a href="#" title="Hide navigation">Hide navigation</a>
            <ul class="clearfix">
              <li class="active">
                <a href="index.html" th:href="@{/}" title="">Home</a>
              </li>
              <li><a href="volunteer.html" th:href="@{volunteer}" title="">I'm a volunteer</a></li>
              <li>
                <a href="" title=""><span>I'm an organisation</span></a>
                <ul>
                  <!-- Submenu -->
                  <li><a href="profile.html" th:href="@{profile}" title="">Organisation Profile</a></li>
                  <li><a href="addevent.html" th:href="@{addevent}" title="">Add Event</a></li>
                </ul>
                <!-- End Submenu -->
              </li>

              <li><a href="contact.html" th:href="@{contact}" title="">Contact Us</a></li>

            </ul>
          </nav>
        </div>
      </div>
      <div class="row space40"></div>
    </div>
  </header>
  <!-- Header End -->

  </head>

  <body>

    <div id="leftcorner" class="span5">
      <form>
        <h3>Organisation Profile:</h3>
        <li>Name of Organisation</li>
        <ul th:text="${organization.organizationName}">name</ul>

        <li>Email address</li>
        <ul th:text="${organization.email}">email</ul>

        <li>Organisation Website</li>
        <ul th:text="${organization.websiteLink}">website</ul>

        <li>Contact of organisation</li>

        <ul th:text="${organization.contact}">person</ul>

        <li>Short Description of Organisation</li>
        <ul th:text="${organization.description}">description</ul>
      </form>

    </div>

    <div id="leftcorner" class="span10">
          <form th:each="event : ${events}">
          <h4>Event</h4>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 th:text="${event.what}" class="card-title">Event number #1 </h5>
            <p th:text="${event.when}" class="card-text">When</p>
            <a href="#" class="btn btn-primary">Open Event</a>
          </div>
        </div>
      </form>
    </div>

    <div id="leftcorner" class="span5">
        <a href="addevent.html" th:href="@{addevent}" class="btn btn-primary">add event</a>
    </div>




    <!-- JavaScripts -->
    <script type="text/javascript" src="/staticjs/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  </body>

</html>